
RobotNavigation/RobotNavigation/obj/Debug/

RobotNavigation/\.vs/RobotNavigation/v15/\.suo

*.cache

*.pdb

*.ide-wal

RobotNavigation/\.vs/RobotNavigation/v15/Server/sqlite3/storage\.ide-shm

RobotNavigation/\.vs/RobotNavigation/v15/Server/sqlite3/db\.lock

RobotNavigation/\.vs/RobotNavigation/v15/Server/sqlite3/storage\.ide

RobotNavigation/\.vs/RobotNavigation/v15/

RobotNavigation/RobotNavigation/bin/Debug/

*.exe
